/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {  
    background: linear-gradient(180deg, rgba(60, 138, 255, 1) 0%, rgba(0, 0, 0, 1) 31%);
    height: 100vh;
    color: #ffffff;
    font-family:sans-serif;
}

/* Table Styles */
table {
    width: 92vw;
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse; /* Ensure table borders collapse */
    table-layout: fixed; /* Fixed table layout */
}

/* Table Cell Styles */
td {
    text-align: center;
    vertical-align: middle; /* Align content vertically in the middle */
    position: relative; /* Ensure relative positioning for nested elements */
    border-bottom: 2px solid;
}

/* Last Row Cell Styles */
tr:last-child {
    border-bottom: 2px solid #ffffff; /* Remove bottom border for last row */
}

/* Select Styles */
select, input[type="submit"], input[type="button"] {
    background-color: transparent; /* Example background color */
    color: #ffffff;
    border: none;
    width: calc(100% - 20px); /* Fill the entire width of the table cell, minus padding */
    height: 100%; /* Fill the entire height of the table cell */
    padding: 10px; /* Adjust padding for better appearance */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

option {
    color: black;
    font-size: small;
}

input[type="submit"]{
    background-color: #ffffff;
    border-radius: 100px;
    color: rgba(60, 138, 255, 1);
}

input[type="button"]{
    background-color: #BCE3FD;;
    color: #000000;
}

